@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>

<address>
    Pablo Pérez Fernández<br />
    MIW - UPM<br />
</address>

<address>
    <strong>Mail:</strong>   <a href="mailto:pablo.perezfer@alumnos.upm.es">pablo.perezfer@alumnos.upm.es</a><br />
</address>