@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Welcome";
}


<h2>Bienvenido al COMPARADOR de precios en supermercados</h2>

@using (Html.BeginForm("Comparador","HelloWorld", FormMethod.Get)){
    <p>Escriba los productos que desea buscar.<br /> Por favor, escriba cada producto en una linea.</p>
    <p>
        @Html.TextArea("productString", new { rows = 10, cols = 40, @class = "form-control", @style = "resize: none;" }) <br />
        <input type="submit" value="Buscar" class="btn btn-primary btn-sm"/>
    </p>
}

